<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/css/styles.css" >
    <link rel="stylesheet" href="/css/todo.css"/>
    <META charset="UTF-8">
    <META content="width=device-width, initial-scale=1.0" name="viewport">
    <META content="ie=edge" http-equiv="X-UA-Compatible">
    <title>anpan 오늘할일</title>
</head>
<body>
<nav th:include="/member/fragment/navibar.html :: navibar"></nav>
<div class="navbar navbar-default" id="subnav">
    <div class="col-md-12">
        <div th:include="/member/fragment/menubar.html :: menubar"></div>
    </div>
</div>
<h1 class="btn title" id="title">anpan todo List관리</h1>
<section class="center todo__body">
    <div class="js-clock clock">
        <h1 class="js-title"></h1>
    </div>
    <form class="js-form form">
        <input class="name__input" placeholder="당신의 이름은?" type="text"/>
    </form>
    <h1 class="js-greetings greetings"></h1>
    <form class="js-toDoForm">
        <input class="toDo__input" placeholder="오늘할일은?" type="text">
    </form>
    <ul class="js-toDoList ">
    </ul>
</section>
<span class="todo__body js-weather weather"></span>

<script src="/js/todo/clock.js"></script>
<script src="/js/todo/greeting.js"></script>
<script src="/js/todo/todo.js"></script>
<script src="/js/todo/bg.js"></script>
<script src="/js/todo/weather.js"></script>
</body>
</html>